html, body{
height: 100%;
}
body{
	background: white;
	font-size: 16px;
	margin-left: 10px;
}
.container{
	width: 950px;
	margin: 0 auto;
}
#header{
	padding: 30px 0;
}
#header .title a{
	margin-right: 50px;
}
#main .container{
	background: white;
	width: 950px;
	margin: 0 auto;
}

.contact_info{
	border-bottom: 1px solid #999;
}
.contact_info h2{
	margin-bottom: 0px;
	font-size: 16px;
	padding: 10px 0;
}
h2.contact_link a{
	text-decoration: none;
	font-size: 16px;
}
#arrow a{
	float: right;
}
.hidden_info a{
	text-decoration: none;
}

.new tbody tr:nth-child(2n) td, .new tbody tr.even td{
	background: none;
}
input[type=text], input[type=password], input.text, input.title, textarea{
	font-size: 14px;
}
#label_state{
	padding-left: 110px;
}
#label_zip{
	padding-left: 10px;
}
.address th {
	vertical-align: top;
}
textarea{
	height: 125px;
}