html, body{
height: 100%;
}
body{
	background: white;
	font-size: 16px;
}
.container{
	width: 950px;
	margin: 0 auto;
}
#header{
	padding: 30px 0;
}
#header .title a{
	margin-right: 50px;
}
#main .container{
	background: white;
	width: 950px;
	margin: 0 auto;
}
.person_names ul{
	list-style-type: none;
	padding: none;
	margin: 0;
	padding: 0;
}
.person_names li{
	padding: 5px 0 5px;
	border-bottom: 1px solid #999;
}
.person_names li a{
	text-decoration: none;
}


.new tbody tr:nth-child(2n) td, .new tbody tr.even td{
	background: none;
}
input[type=text], input[type=password], input.text, input.title, textarea{
	font-size: 14px;
}
#label_state{
	padding-left: 110px;
}
#label_zip{
	padding-left: 10px;
}
.address th {
	vertical-align: top;
}
textarea{
	height: 125px;
}