<h1>All Contacts</h1>
<div class="person_names span-7 clear">
<ul>
<% @marketing_contacts.each do |marketing_contact| %>
  <li>
    <%= link_to "#{marketing_contact.first_name} #{marketing_contact.last_name}", marketing_contact %>
  </li>
<% end %>
</ul>

